.player-controller {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 25rem;
  height: 28rem;
  background-color: #000;
  color: #fff;
  position: relative;
  z-index: 1;
  border-radius: 15px;
  gap: 2rem;
  padding: 2rem;
  transform: translateY(-10%);

  background-color: rgba(220, 220, 220, 0.264);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
}

.thumb-image {
  height: 100%;
  width: 100%;
  background-color: white;
  background-size: cover;
  background-position: center;
  border-radius: 15px;
}

.tools-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}

.control-icon {
  height: 2rem;
  width: 2rem;
  cursor: pointer;
  color: #000;
  transition: color 0.2s ease-in-out;

  &:hover {
    transform: scale(1.15);
    transition: transform 0.1s ease-in;
  }

  &.play-button {
    height: 4rem;
    width: 4rem;
  }

  &.loop-button--active,
  &.shuffle-button--active {
    color: #e3e3e3;
  }
}
