@import '../../mixins.scss';

.song-artist {
  font-size: 1.5rem;
  font-weight: 400;
  font-style: italic;
}
.song-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.song-title {
  font-size: 4rem;
  font-weight: 800;
}
